/assets/resources/
/assets/themes/frontend/images/background.png
/assets/desktop/css/alldesktop.css
/assets/desktop/css/alldesktop.min.css
/application/logs
/application/config/config.php
/application/config/app_config.php
/application/config/database.php
/application/.htaccess
/application/modules/fixbugs/models
/.settings
uploads/
backup/
migrate/
apps/
.buildpath
.project
.htaccess
index.php