/assets/resources/
/assets/desktop/css/alldesktop.css
/assets/desktop/css/alldesktop.min.css
/application/logs
/application/config/config.php
/application/config/app_config.php
/application/config/database.php
/application/.htaccess
/application/modules/fixbugs/models
/apps.min/core/application.js
/.settings
uploads/
backup/
apps/
.buildpath
.project
.htaccess
index.php